@model int
<div>
    <h1 class="text-info pt-4">Order confirmed!</h1>
    <p class="pb-3 text-center">We have recieved your order and its being prepared! You'll recieve the order in a few buissness days</p>
    <h4 class="text-warning pb-3 text-center">Order ID - @Model</h4>
    <img src="/images/order.PNG" width="80%"/>
</div>
